{% extends '::base.html.twig' %}

{% block title %}Search{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <!--breadcrumbs start -->
            <ul class="breadcrumb">
                <li><a href="{{ path('dashboard') }}"><i class="icon-home"></i> Dashboard</a></li>
                <li class="active"><a href="{{ path('user') }}">User</a></li>
                <li class="active">Search-Results</li>
            </ul>
            <!--breadcrumbs end -->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    search completed &nbsp; » &nbsp;<strong></strong>
                <span class="tools pull-right">
                <a class="icon-chevron-down" href="javascript:;"></a>
                <a class="icon-remove" href="javascript:;"></a>
            </span>
                </header>
                <div class="panel-body">
                    <p>No user's were found</p>
                </div>
            </section>
        </div>
    </div>
{% endblock %}