<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h4 class="modal-title">Change Password</h4>
        </div>

		<div class="modal-body">
			<form action="{{ path('acme_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="acme_user_change_password">
			    {{ form_widget(form) }}
			    <div class="modal-footer">
				    <div class="col-lg-offset-3 col-lg-10">
				        <input type="submit" class="btn btn-primary" value="Save" />
				    </div>
				</div>    
			</form>
		</div>
	</div>
</div>