{% extends '::base.html.twig' %}

{% block title %} Page not found{% endblock title %}

     {% block body %}
         <div class="well">
             {% trans %}
             Page number %pageNumber% not found
             {% endtrans %}
         </div>
     {% endblock %}
