<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h4 class="modal-title">Email creation</h4>
        </div>
        <div class="modal-body">
           {{ form(form) }}
        </div>
    </div>
</div>