<table class="table table-inbox table-hover">
    <thead>
        <tr>
            <th><input type="checkbox" class="mail-checkbox"></i></th>
            <th><i class="icon-star"></i></th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Issue Date</th>
        </tr>
    </thead>
    <tbody>
    {% for item in result.issueLines %}
        <tr>
            <td class="inbox-small-cells">
                <input type="checkbox" class="mail-checkbox">
            </td>
            <td class="inbox-small-cells"><i class="icon-star"></i></td>
            <td>{{ (item.name) }}</td>
            <td>{{ (item.quantity)|number_format(2) }}</td>
            <td>{{ item.issueDate|date('Y-m-d') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
