<table class="table table-inbox table-hover">
    <tbody>
        {% for item in result.PurchaseLines %}
            <tr class="">
                <td class="inbox-small-cells">
                    <input type="checkbox" class="mail-checkbox">
                </td>
                <td class="inbox-small-cells"><i class="icon-star"></i></td>
                <td class="view-message dont-show">{{ item.manufacturer }}</td>
                <td class="view-message view-message">{{ (item.price/item.quantity)|number_format(2) }}</td>
                <td class="view-message inbox-small-cells">{{ 1|number_format(2) }}</td>
                <td class="view-message text-right">{{ item.purchaseDate|date('d-m-Y') }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>