<form action="{{ path('AcmeWidgetBundle_SearchStatistics') }}" method="GET" id="search-form">
    <input type="text" class="form-control search" value="Search..." name="search-keyword" id="search-input">
</form>
<style type="text/css"></style>
<script src="{{ asset('js/jquery.js') }}"></script>
<script src="{{ asset('js/jquery-ui-1.8.21.custom.min.js') }}"></script>

<script type="text/javascript">
    $(document).ready(function(){
        //remove default value
        $('#search-input').focus(function(evt){
            if($(this).val() == 'Search...')
                $(this).val('');
        });
        //add default value
        $('#search-input').blur(function(evt){
            if($(this).val() == '')
                $(this).val('Search...');
        });
        //form submit functionality
        $('#search-form').submit(
            function(evt){
                $("#loading-full,.loading-ball").fadeIn();
                evt.preventDefault();
                var searchVal = $.trim($('input[type="text"]', $(this)).val());
                if(searchVal.length > 1) {
                    window.location = $(this).attr('action') + '/' + searchVal;
                }
            }
        );
        //autcomplit
        var cache = {}, lastXhr;

        $( '#search-input' ).autocomplete({
            minLength: 3,
            source: function( request, response ) {
                var term = request.term;
                console.log(term);
                if ( term in cache ) {
                    response( cache[ term ] );
                    return;
                }

                lastXhr = $.getJSON( "{{ path('AcmeWidgetBundle_SearchAutocomplete') }}", request, function( data, status, xhr ) {
                    cache[ term ] = data;
                    if ( xhr === lastXhr ) {
                        response( data );
                    }
                });
            }
        });
    });
</script>