{% extends '::base.html.twig' %}


{% block body %}
    <section class="panel">
                  <header class="panel-heading">
                      File Search
                  </header>
                  <div class="panel-body">
                      <table class="table table-hover file-search">
                          <thead>
                          <tr>
                              <th>Image</th>
                              <th class="hidden-phone">Product</th>
                              <th class="hidden-phone">Quantity</th>
                              <th class="hidden-phone">Issue Date</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr>
                              <td>
                                  <img alt="" src="img/file-search/doc.png">
                                  <strong>Linux Manual for dummies.doc</strong>
                              </td>
                              <td class="hidden-phone">01.01.2012 </td>
                              <td class="hidden-phone">12.05.2013</td>
                              <td class="hidden-phone">File</td>
                          </tr>
                          </tbody>
                      </table>

                      <div class="text-center">
                          <ul class="pagination">
                              <li><a href="#">«</a></li>
                              <li><a href="#">1</a></li>
                              <li><a href="#">2</a></li>
                              <li><a href="#">3</a></li>
                              <li><a href="#">4</a></li>
                              <li><a href="#">5</a></li>
                              <li><a href="#">»</a></li>
                          </ul>
                      </div>
                  </div>
              </section>
{% endblock %}
