{% extends '::base.html.twig' %}

{% block title %}Customer{% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-lg-12">
            <ul class="breadcrumb">
                <li><a href="{{ path('dashboard') }}"><i class="icon-home"></i> Dashboard</a></li>
                <li class="active">Setup</li>
                <li class="active"><a href="{{ path('customer') }}">Customer</a></li>
                <li class="active">Edit A Customer</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <strong>Customer edit</strong>
                <span class="tools pull-right">
                    <a class="icon-chevron-down" href="javascript:;"></a>
                    <a class="icon-remove" href="javascript:;"></a>
                </span>
                </header>
                <div class="panel-body">
                    {% include('AcmeSetupBundle:Customer:_form.html.twig') %}
                </div>
            </section>
        </div>
    </div>
{% endblock %}
