<table class="table table-bordered table-hover">
    <thead>
        <tr id="sort">
        <th><a>id |<b id="arrow_normal">  &#8592;</b></a></th>
        <th><a>invoiceDate |<b id="arrow_normal">  &#8592;</b></a></th>
        <th><a>name |<b id="arrow_normal">  &#8592;</b></a></th>
        <th><a>invoiceStatus |<b id="arrow_normal">  &#8592;</b></a></th>
        <th><a>createdBy |<b id="arrow_normal">  &#8592;</b></a></th>
            <th></th>
        <th>Actions</th>
        </tr>
    </thead>
    <tbody id="jobs-body">
        {{ include('AcmeInvoiceBundle:Invoice:list_invoice_body.html.twig', { 'entities':entities }) }}
    </tbody>
</table>
