  <div class="col-lg-6">
      <!--widget start-->
      <aside class="profile-nav alt green-border">
          <section class="panel panel-success">
              <header class="panel-heading">
                  <h4>Total Product In</h4>
              </header>
              <ul class="nav nav-pills nav-stacked">
	              {% for entity in totalProductIn %}
	                  <li>
	                   <a href="javascript:;"> <i class="icon-asterisk"></i> {{ entity.name }}
	                   <span class="label label-success pull-right r-activity">{{ entity.total_product_in }}</span></a>
	                  </li>
	              {% endfor %}
              </ul>
          </section>
      </aside>
      <!--widget end-->
    </div>