<div class="col-lg-6">
  <!--widget start-->
  <aside class="profile-nav alt danger-border">
      <section class="panel panel-danger">
          <header class="panel-heading">
              <h4>Total Product Out</h4>
          </header>
          <ul class="nav nav-pills nav-stacked">
            {% for entity in totalProductOut %}
                <li>
                 <a href="javascript:;"> <i class="icon-asterisk"></i> {{ entity.name }}
                 <span class="label label-danger pull-right r-activity">{{ entity.total_product_out }}</span></a>
                </li>
            {% endfor %}
          </ul>
      </section>
  </aside>
  <!--widget end-->
</div>