{% extends '::base.html.twig' %}

{% block title %}Search-Results{% endblock %}

{% block body %}
    <h4><i class="icon-search"></i>Search results</h4>
    <div class="search-items-list">
            {% if result.users is not empty %}
            <ul class="search-entity-items">
            {% for item in result.users %}
                <li><a class="search-entity-name" href="{{ path('user_show', { id: item.id }) }}">{{ item.username }}</a> {{ item.email }}</li>

            {% endfor %}
            </ul>
            {% endif %}

            {% if result.users is empty %}
                <p>{{ "There are no results" }}</p>
            {% endif %}
    </div>
    <div class="clear"></div>
{% endblock%}