{#{% extends '::base.html.twig' %}

{% block title %}Top Search{% endblock %}#}

{% block body -%}
<div class="row">
    <div class="col-lg-3">
        <section class="panel">
            <header class="panel-heading">
                <strong>Top Search</strong>
            </header>
            {% if words is not empty %}
                {% for word in words %}
                    <a class="list-group-item"
                       href="{{ path('general_search', { 'searchWord': word['keyword_search'] }) }}">{{ word['keyword_search'] }}</a>
                {% endfor %}
            {% endif %}
        </section>
    </div>
</div>
{% endblock %}
