<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Modal Tittle</h4>
        </div>

        <div class="modal-body">

            <div class="col-sm-4">
                <input class="form-control" id="supplier-detail" type="text" placeholder="0.00" value="0"
                       disabled>
            </div>

            {{ result.timeof }}
            {{ result.price }}
            {{ result.product_id }}

        </div>

        <div class="modal-footer">
          <button data-dismiss="modal" class="btn btn-default" type="button">Ok</button>
        </div>
    </div>
</div>
