<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h4 class="modal-title">Supplier Details</h4>
        </div>
        <div class="modal-body">
            <table id="people" class="table table-bordered table-hover">
                <thead>
                    <th>Price</th>
                    <th>Product</th>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
        </div>
    </div>
</div>