<div class="row">
    {{ render(controller('AcmeWidgetBundle:StateOverview:totalUser')) }}
    {{ render(controller('AcmeWidgetBundle:StateOverview:draftedPurchase')) }}
    {{ render(controller('AcmeWidgetBundle:StateOverview:draftedIssue')) }}
    {{ render(controller('AcmeWidgetBundle:StateOverview:totalCost')) }}
</div>

