{#{% extends '::base.html.twig' %}

{% block title %}Total-Cost{% endblock %}#}

{% block body %}
    {% if totalCost is not empty %}
        <div class="state-overview">
            <div class="col-lg-3 col-sm-6">
                <section class="panel">
                    {% for entity in totalCost %}
                        <div class="symbol blue">
                            <i class="icon-shopping-cart"></i>
                        </div>
                        <div class="value">
                            <h1 class="count4">
                                <small>
                                    0
                                </small>
                            </h1>
                            <p>Total Purchase Cost</p>
                        </div>
                    {% endfor %}
                </section>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script type="text/javascript">
        var tal = [{% for entity in totalCost %}{{ entity.total_price }}{% endfor %}];
        function countUp4(count) {
            var div_by = 1000,
                    speed = Math.round(count / div_by),
                    $display = $('.count4'),
                    run_count = 1,
                    int_speed = -2;

            var int = setInterval(function () {
                if (run_count < div_by) {
                    $display.text(speed * run_count);
                    run_count++;
                } else if (parseInt($display.text()) < count) {
                    var curr_count = parseInt($display.text()) + 1;
                    $display.text(curr_count);
                } else {
                    clearInterval(int);
                }
            }, int_speed);
        }
        countUp4(tal);
    </script>
{% endblock %}