{#{% extends '::base.html.twig' %}

{% block title %}Total-User{% endblock %}#}

{% block body %}
    {% if totalUser is not empty %}
        <div class="state-overview">
            <div class="col-lg-3 col-sm-6">
                {% for entity in totalUser %}
                    <section class="panel">
                        <div class="symbol terques">
                            <i class="icon-user"></i>
                        </div>
                        <div class="value">
                            <h1 class="count">
                                0
                            </h1>

                            <p>Total Users</p>
                        </div>
                    </section>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script type="text/javascript">
        var user = [{% for entity in totalUser %}{{ entity.total_user }}{% endfor %}];
        function countUp(count) {
            var div_by = 100,
                    speed = Math.round(count / div_by),
                    $display = $('.count'),
                    run_count = 1,
                    int_speed = 24;

            var int = setInterval(function () {
                if (run_count < div_by) {
                    $display.text(speed * run_count);
                    run_count++;
                } else if (parseInt($display.text()) < count) {
                    var curr_count = parseInt($display.text()) + 1;
                    $display.text(curr_count);
                } else {
                    clearInterval(int);
                }
            }, int_speed);
        }

        countUp(user);
    </script>
{% endblock %}